<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"] - WatchTalks</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>  
<header>
    <nav class="container-fluid">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">TV-Shows</a></li>
            <li><a href="/">Login</a></li>
            <li><a href="/">Register</a></li>
        </ul>
    </nav>
</header>
<main>
    @RenderBody()
</main>
<footer>
&copy; 2023 - WatchTalks by Mário Husár
</footer>
</body>
</html>