@page
@model WatchTalks.Pages.Index
@{
    ViewData["Title"] = "Home";
}

<div class="container latestEpisodesDiv">
    <h1>Latest episodes</h1>
    <div class="container latestEpisodesTable table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <tbody>
            @for (var i = 0; i < Model.Series.Count; i++)
            {
                <tr onclick="window.location.href='/Episode'">
                    <th scope="col" style="width: 10%;">31.11.1959</th>
                    <th scope="col" style="width: 35%;">Nazov celeho serialuuuuuuuuuuuuuuuuuuu</th>
                    <th scope="col" style="width: 10%;">S11 E22</th>
                    <th scope="col" style="width: 35%;">Nazov celej epizodyyyyyyyyyyyyyyyyyyyy</th>
                    <th scope="col" style="width: 10%;">99%</th>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

<div class="container latestNewsDiv">
    <h1>Latest news</h1>
    <div class="container latestNews">
        <div class="card-container latestNewsList">
            <div class="arrow">&lt;</div>
    
            <a href="/Article">
            <div class="card">
                <h5 class="card-title">Title</h5>
                <img src="https://via.placeholder.com/300x210" class="card-img-top">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo nec ultrices dui sapien eget mi proin. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Proin nibh nisl condimentum id venenatis a condimentum vitae. Diam ut venenatis tellus in metus vulputate. Tortor at auctor urna nunc id cursus metus aliquam eleifend. Felis imperdiet proin fermentum leo vel orci. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Semper eget duis at tellus at. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Sed pulvinar proin gravida hendrerit lectus a. Dictum sit amet justo donec enim diam vulputate ut pharetra. Magnis dis parturient montes nascetur ridiculus mus mauris vitae.</p>
                <p class="card-more">Read More...</p>
            </div>
            </a>
            
            <a href="/Article">
            <div class="card cardHide">
                <h5 class="card-title">Title</h5>
                <img src="https://via.placeholder.com/300x210" class="card-img-top">
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Justo nec ultrices dui sapien eget mi proin. Nisl condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Proin nibh nisl condimentum id venenatis a condimentum vitae. Diam ut venenatis tellus in metus vulputate. Tortor at auctor urna nunc id cursus metus aliquam eleifend. Felis imperdiet proin fermentum leo vel orci. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. Semper eget duis at tellus at. Nisl nunc mi ipsum faucibus vitae aliquet nec ullamcorper. Sed pulvinar proin gravida hendrerit lectus a. Dictum sit amet justo donec enim diam vulputate ut pharetra. Magnis dis parturient montes nascetur ridiculus mus mauris vitae.</p>
                <p class="card-more">Read More...</p>
            </div>
            </a>
            
            
            <div class="arrow">&gt;</div>
        </div>
    </div>
</div> 