@page
@model WatchTalks.Pages.Index
@{
    ViewData["Title"] = "Home";
}

<div class="episodeTable">
	<h2>
		Najnovšie epizódy
	</h2>
	<table class="episodes">
		<tbody>
		<tr>
			<td> Show Icon </td>
			<td> TV Show </td>
			<td> S0X E0X </td>
			<td> Episode Name </td>
			<td> xx.xx.xxxx </td>
			<td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		<tr>
			<td> Show Icon </td>
            <td> TV Show </td>
            <td> S0X E0X </td>
            <td> Episode Name </td>
            <td> xx.xx.xxxx </td>
            <td> Rating </td>
		</tr>
		</tbody>
	</table>
</div>

<div class="newsPanel">
    <h2>Novinky</h2>
	<div class="newsContainer">
		<div class="newsArrow left">
			left
		</div>
		<div class="newsBox"> 
			<h3>Titulok</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor arcu in urna efficitur, ac cursus
                           elit euismod. Vivamus id odio euismod, cursus mi sed, egestas purus. Aenean sollicitudin id augue ut
                           efficitur.
            </p>
		</div>
		<div class="newsBox centered">
			<h3>Titulok</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor arcu in urna efficitur, ac cursus
                           elit euismod. Vivamus id odio euismod, cursus mi sed, egestas purus. Aenean sollicitudin id augue ut
                           efficitur.
			</p>
		</div>
		<div class="newsBox">
			<h3>Titulok</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor arcu in urna efficitur, ac cursus
                           elit euismod. Vivamus id odio euismod, cursus mi sed, egestas purus. Aenean sollicitudin id augue ut
                           efficitur.
            </p>
		</div>
		<div class="newsArrow right">
			right
        </div>
	</div>
</div>

