@page
@model WatchTalks.Pages.Library
@{
    ViewData["Title"] = "Library";
}

<div class="container libraryFilter">
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="searchBox">Title</label>
                <input type="text" class="form-control" id="searchBox" placeholder="Title...">
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label for="Genre">Genre</label>
                <select class="form-control" id="Genre">
                    <option value="" >Select...</option>
                    <option value="option1">TO DO</option>
                    <option value="option2">TO DO</option>
                    <option value="option3">TO DO</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label for="Country">Country</label>
                <select class="form-control" id="Country">
                    <option value="">Select...</option>
                    <option value="option1">TO DO</option>
                    <option value="option2">TO DO</option>
                    <option value="option3">TO DO</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-2">
            <div class="form-group">
                <label for="SortBy">Sort by</label>
                <select class="form-control" id="SortBy">
                    <option value="">Select...</option>
                    <option value="option1">TO DO</option>
                    <option value="option2">TO DO</option>
                    <option value="option3">TO DO</option>
                </select>
            </div>
        </div>
        
        <div class="col-md-2">
            <button class="btn btn-light searchButton">Search</button>
        </div>
    </div>
    
    <div class="row">
        <div class="col-12 indexRow">
            <button class="indexButton btn-sm">First</button>
            <button class="indexButton btn-sm">Prev</button>
            
            <button class="indexButton btn-sm">Next</button>
            <button class="indexButton btn-sm">Last</button>
        </div>
    </div>
</div>

<div class="album"> 
    <div class="container seriesAlbum">
            <div class="row seriesRow">
                @for (var j = 1; j <= 30; j++)
                {
                    <div class="col-12 col-md-6 col-lg-2 seriesCard">
                        <img class="card-img-top" src="https://via.placeholder.com/210x180">
                        <div class="card-title">Title</div>
                    </div>
                }
            </div>
    </div>
</div>

