@page
@model WatchTalks.Pages.Profile

@{
    ViewData["Title"] = "Profile i";
}

<div class="profile container">
    <img class="profilePic" src="pictures/profilePic.png" alt="profilePicture">
    <div class="profile-name">Name</div>
    <div class="profile-email">Email</div>
</div>