/* Globálne nastavenia */
* {
    font-family: "Bookman Old Style", serif;
}

h1 {
    color: orange;
}

a {
    text-decoration: none;
}

/* Nastavenie hlavičky stránok */
.pageHeader {
    background-color: #000;
    color: orange;
    text-align: center;
    display: flex;
    justify-content: center;
}

/* Formatovanie linkov na navigation bare */
.pageHeader a {
    color: orange;
    text-decoration: none;
}

/* Nastavenie hover funckie na bielu farbu (cierna na ciernom pozadi sa strati) */
.nav-link:hover {
    color: #fff; /* Change the color to your preferred color */
}

/* Nastavenie pätičky stránok */
.pageFooter {
    background-color: #000;
    color: orange;
    text-align: center;
    position: fixed;
    bottom: 0;
}

/* Nastavenie casti najnovsich epizod - Home page */
.latestEpisodesDiv {
    margin-top: 20px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latestEpisodesTable {
    margin-top: 20px;
    text-align: center;
    border-radius: 10px;
}

.latestEpisodesTable table {
    border: 5px solid black;
}

.latestEpisodesTable th {
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Nastavenie casti najnovsich noviniek - Home page */
.latestNewsDiv {
    margin-top: 20px;
    margin-bottom: 60px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.latestNews .card {
    display: flex;
    align-items: center;
    margin: 20px;
    background: orange;
    width: 500px;
    height: 400px;
}

.latestNewsList {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latestNews .card .card-title {
    margin: 10px;
    width: 90%;
    height: 10%;
}

.latestNews .card .card-img-top {
    margin: 10px;
    width: 90%;
    height: 40%;
    object-fit: cover;
}

.latestNews .card .card-text {
    width: 90%;
    height: 46%;
    text-align: justify;
    overflow: hidden;
}

.latestNews .card .card-more {
    width: 90%;
    height: 4%;
}

.latestNewsDiv .arrow {
    cursor: pointer;
    font-size: 24px;
    color: orange;
}

/* odstranuje druhu kartu pri mensich obrazovkach */
@media (max-width: 1200px) {
    .latestNews .cardHide {
        display: none; /* Hide the card on smaller screens */
    }
}

/* Nastavenie filtrov pre library browser */
.libraryFilter {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    align-items: center;
}

.libraryFilter label {
    color: orange;
}

.libraryFilter .searchButton {
    margin-top: 10px;
    height: 50px;
}

/* Nastavenie cislovania zaznamov */
.indexRow {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: black;
}

/* Nastavenie albumu zaznamov */

.seriesAlbum {
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    margin-bottom: 50px;
}

.seriesRow {
    margin-top: 15px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
}

.seriesAlbum .seriesCard{
    margin: 10px;
    width: 180px;
    height: 300px;
}

.seriesAlbum .seriesCard a {
    color: black !important;
    text-decoration: none !important;
}

.seriesAlbum .seriesCard:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.seriesAlbum .seriesCard .card-img-top {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.seriesAlbum .card-title {
    margin-top: 20px;
    font-size: 30px;
    text-align: center;
    background: orange;
}

/* Nastavenie stranky pre serial */
.seriesTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    padding-bottom: 10px;
}

.seriesTitle p {
    text-align: justify;
    color: orange;
    margin-top: 20px;
    padding-right: 10px;
}

.episodeList {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
}

.episodeList .episodeInfo {
    margin: 20px;
    text-align: center;
    height: 300px;
    overflow: hidden;
    background: orange;
    border: 2px solid black;
    border-radius: 25px;
    vertical-align: middle;
}

.episodeList .episodeInfo h1 {
    color: black;
}

.episodeList .episodeInfo img {
    margin-top: 10px;
}

.episodeList .episodeInfo p {
    text-align: justify;
    color: black;
    padding: 28px;
}

.episodeList .episodeInfo a {
    color: black !important;
    text-decoration: none !important;
}

/* Nastavenie stranky pre epizodu */
.episodeTitle {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background: black;
    border: 2px solid orange;
    border-radius: 25px;
    padding-bottom: 10px;
}
.episodeTitle p {
    text-align: justify;
    color: orange;
    margin-top: 20px;
    padding-right: 10px;
}

.episodeTitle .col-lg-8 {
    display: flex;
    align-items: center;
}

/* Comment section */
.commentSection {
    background: orange;
    border: black 3pt solid;
    border-radius: 20px;
    margin-bottom: 40px;
}

.commentSection .indexRow {
    margin-bottom: 10px;
    margin-top: 10px;
}

.comment {
    margin-top: 20px;
    text-align: left;
    background: white;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.commentHeader {
    width: 25%;
    align-items: center;
    margin-bottom: 10px;
}

.profilePicture {
    width: 150px;
    height: 150px;
}


.userInfo {
    margin-left: 10px;
    text-align: center;
}

.profileName {
    font-weight: bold;
}

.commentTime {
    color: #888;
    font-size: 12px;
}

.commentText {
    text-align: justify;
    margin: 10px;
}

@media (max-width: 768px) {
    .profilePicture {
        display: none;
    }
}